<head>
  <meta charset="utf-8">
  <meta id="meta" name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/styles/default.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <% if (locals.inlineCSS) { %>
    <style type="text/css"><%- inlineCSS %></style>
  <% } else { %>
    <link href="/assets/css/style.css" rel="stylesheet">
    <script src="/assets/scripts/main.js" charset="utf-8"></script>
  <% } %>
  <link rel="shortcut icon" href="<%- template('branding.favicon') %>" type="image/x-icon" />
</head>
