// `_base.scss`

body {
  background-color: #f8f8f8;
  color: #444;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

// `_categories.scss`

.g-upper-body h1.headline {
  font-weight: 600;
}

// `_furniture.scss`

.masthead .container .branding {
  .branding-heading .logo {
    height: 30px;
  }

  .branding-label {
    font-weight: 600;
  }
}

// `_pages.scss`

#main-search-page .main-item .branding {
  .branding-heading .logo {
    height: 40px;
  }

  .branding-label {
    font-weight: 800;
  }
}

// Categories-Seite

.g-upper-body {
  .branding {
    @extend #main-search-page .main-item .branding;
  }

  .tagline {
    @extend #main-search-page .main-item .tagline;
  }
}
