// Fonts
//------------------------------------------------------------------------------
$font-branding: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif;
$font-headline: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif;
$font-sans: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif;

// Colors
//------------------------------------------------------------------------------
// Default Light Theme
$btn-default-background-hover: $accent;
$btn-default-background: $white;
$btn-default-border: $black;
$btn-default-text-color: $black;
$btn-default-text-hover: $black;
$btn-homepage-background: $white;
$btn-homepage-border: $black;
$btn-user-initial: $gray-50;
$elem-active-link-color: $gray-50;
$elem-link-accent: $accent;
$elem-link-color: $gray-50;
$main-homepage-background: $white;
$main-homepage-icon-border: $black;
$main-homepage-icon-color: $black;
$main-page-btn-color: $gray-45;
$main-page-text-color: $gray-35;
$masthead-background: $gray-10;
$nav-text-color: $gray-40;
$search-container-background: #e6e2e2;
$search-container-hover: $gray-70;
